.DS_Store
.classpath
.externalToolBuilders
.project
.settings
debug.txt
Doxyfile
main.js
vitry.jar
doc/
bin/
src/java/vitry/Build.java
src/java/vitry/runtime/parse/VitryLexer.java
src/java/vitry/runtime/parse/VitryParser.java
src/java/vitry/runtime/parse/Vitry.tokens